<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FichasInstrumentos_ES1921013978_ANNT"
        tools:targetApi="31">
        <activity
            android:name=".HistoricoActivity"
            android:exported="false"
            android:label="@string/title_activity_historico"
            android:theme="@style/Theme.FichasInstrumentos_ES1921013978_ANNT" />
        <activity
            android:name=".InstrumentosActivity"
            android:exported="false" />
        <activity
            android:name=".IElectricosActivity"
            android:exported="false" />
        <activity
            android:name=".IPercusionActivity"
            android:exported="false" />
        <activity
            android:name=".ICuerdaActivity"
            android:exported="false" />
        <activity
            android:name=".IVientoActivity"
            android:exported="false" />
        <activity
            android:name=".ElectricosActivity"
            android:exported="false" />
        <activity
            android:name=".PercusionActivity"
            android:exported="false" />
        <activity
            android:name=".CuerdaActivity"
            android:exported="false" />
        <activity
            android:name=".VientoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FichasInstrumentos_ES1921013978_ANNT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>